@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome To The Leave Mangement System</h3>
    <p>By <a target="_blank" href="https://github.com/IsmailJAziza">Ismail Aziza</a>.</p>
</div>
