@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-12 col-lg-12 col-xxl-9">
                    <div class="card mb-0">
                        <div class="card-body">
                            <p class="text-center">Create a new account.</p>
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="mb-3">
                                    <label asp-for="Input.Email">Email</label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.FirstName" class="form-label">First Name</label>
                                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Ismail" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.LastName" class="form-label">Last Name</label>
                                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Aziza" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    <label asp-for="Input.DateOfBirth" class="form-label">Date of Birth</label>
                                    <input asp-for="Input.DateOfBirth" class="form-control" aria-required="true" />
                                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                                </div>
                                <div class="mb-4">
                                    @foreach (var role in Model.RoleNames)
                                    {
                                        <div class="form-check">
                                            <label class="form-check-label mb-1" asp-for="Input.RoleName">
                                            <input class="form-check-input mb-1" type="radio" asp-for="Input.RoleName" value="@role">
                                                @role
                                            </label>
                                        </div>
                                    }
                                </div>
                                <button id="registerSubmit" type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4">Sign Up</button>
                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                    <a class="text-primary fw-bold ms-2" asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
